body {
	padding-top: 70px;
}

.navbar-links{
	color: white !important;
}

.navbar-links:hover{
	color: skyblue;
	text-decoration: none;
}

.indexFormPadding{
	padding-left: 40px;
	padding-right: 40px;
}

md-backdrop.md-opaque { 
	position:fixed ;
}

md-sidenav { 
	position:fixed ;
}