body {
    padding-top: 70px;
}

.navbar-links {
    color: white !important;
}

.navbar-links:hover {
    color: skyblue;
    text-decoration: none;
}

.indexFormPadding {
    padding-left: 40px;
    padding-right: 40px;
}

md-backdrop.md-opaque {
    position: fixed;
}

md-sidenav {
    position: fixed;
}

.profile-image-chat {
    height: 40px;
    width: 40px;
}

.chat-online {
    height: 10px;
    width: 10px;
}

.footer {
    background-color: #2C3E50;
    color: white;
    padding: 8px;
}

.profile_page_image {
    width: 300px;
    height: 300px;
}

.main_page_image {
    height: 400px;
    width: 680px;
}
