body {
    padding-top: 70px;
}

.navbar-links {
    color: white !important;
}

.footer-links {
    color: SkyBlue !important;
}

.navbar-links:hover {
    color: SkyBlue;
    text-decoration: none;
}

.indexFormPadding {
    padding-left: 40px;
    padding-right: 40px;
}

md-backdrop.md-opaque {
    position: fixed;
}

md-sidenav {
    position: fixed;
}

.profile-image-chat {
    height: 40px;
    width: 40px;
}

.chat-online {
    height: 10px;
    width: 10px;
}

.footer {
    background-color: #2C3E50;
    color: white;
    padding: 8px;
}

.profile_page_image {
    width: 300px;
    height: 300px;
}

.main_page_image {
    height: 400px;
    width: 680px;
}

.row-lebel {
    color: OrangeRed;
    font-weight: 600;
}

.row-value {
    color: SteelBlue;
    font-weight: 600;
}

#profileimgcontainer {
    position: relative;
}

#profileimgcontainer > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    color: transparent;
    transition: 1s;
}

#profileimgcontainer > div:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.panel-history > .panel-heading {
    color: white;
    /*background-color: #00C851;*/
    /*background-color: #00897b;*/
    background-color: rgba(63, 81, 181, 0.7);
    border-color: #ddd;
}

.panel-report tbody tr:hover td {
    background: #4285F4;
}

.loggedInPageBackground {
    background-color: rgba(0, 0, 0, 0.7);
}

.loggedOutPageBackground {
    background-color: white;
}

.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chatMessage {
    background-color: white;
    box-shadow: 0px 3px 5px -1px white, 0px 6px 10px 0px white, 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
