<div style="overflow: auto">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Profile</div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <a href="" data-toggle="modal" data-target="#profilepicmodal">
                        <div id="profileimgcontainer">
                            <img class="profile_page_image img-responsive center-block img-thumbnail" src="{{userdetails.profilepic}}" />
                            <div layout-align="center center" layout="row">
                                <h4>Change Profile picture</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-9">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="row-lebel">FirstName</td>
                                <td class="row-value">{{userdetails.firstname}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">LastName</td>
                                <td class="row-value">{{userdetails.lastname}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Date Of Birth</td>
                                <td class="row-value">{{userdetails.dob}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Age</td>
                                <td class="row-value">{{userdetails.age}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Gender</td>
                                <td class="row-value">{{userdetails.gender}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Mobile</td>
                                <td class="row-value">{{userdetails.mobile}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">City</td>
                                <td class="row-value">{{userdetails.city}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Country</td>
                                <td class="row-value">{{userdetails.country}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal for profile pic upload -->
            <div id="profilepicmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header modal-header-success">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Change Profile Picture</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="newPicUrl">New Profile Image Link:</label>
                                    <input type="text" class="form-control" id="newPicUrl" ng-model="newPicUrl">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="updateProPic(newPicUrl)" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger panel-history">
            <div class="panel-heading text-center medicalHistory">{{!homeCtrl.showPrescriptionDetailFlag?'Medical History':homeCtrl.activePrescription.prescribedDoctor}}</div>
            <div class="panel-body" style="background-color: rgba(158, 158, 158, 0.3);" layout="column">
                <div layout-gt-md="row" layout="column" layout-wrap layout-align="center center">
                    <!-- Component to display the details of a prescription -->
                    <prescription-detail report-array="homeCtrl.activePrescription.reports" showflag="homeCtrl.showPrescriptionDetailFlag" flex layout-gt-md="row" layout-wrap layout-align="center center" ng-if="homeCtrl.showPrescriptionDetailFlag"></prescription-detail>
                    <!-- Component to display the list of prescriptions available -->
                    <prescription-list prescriptions="UserHistories" selected="homeCtrl.activePrescription" showflag="homeCtrl.showPrescriptionDetailFlag" flex layout-gt-md="row" layout-wrap layout-align="center
 center" ng-if="!homeCtrl.showPrescriptionDetailFlag"></prescription-list>
                </div>
                <div layout-align="center center" layout="row" ng-if="homeCtrl.showPrescriptionDetailFlag">
                    <md-button class="md-raised md-primary" ng-click="homeCtrl.showPrescriptionDetailFlag=!homeCtrl.showPrescriptionDetailFlag">Back to Prescriptions</md-button>
                </div>
            </div>
        </div>
    </div>
</div>
