<div style="overflow: auto">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">Profile</div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <a href="" data-toggle="modal" data-target="#profilepicmodal">
                        <div id="profileimgcontainer">
                            <img class="profile_page_image img-responsive center-block img-thumbnail" src="{{userdetails.profilepic}}" />
                            <div layout-align="center center" layout="row">
                                <h4>Change Profile picture</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-9">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="row-lebel">FirstName</td>
                                <td class="row-value">{{userdetails.firstname}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">LastName</td>
                                <td class="row-value">{{userdetails.lastname}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Date Of Birth</td>
                                <td class="row-value">{{userdetails.dob}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Age</td>
                                <td class="row-value">{{userdetails.age}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Gender</td>
                                <td class="row-value">{{userdetails.gender}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Mobile</td>
                                <td class="row-value">{{userdetails.mobile}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">City</td>
                                <td class="row-value">{{userdetails.city}}</td>
                            </tr>
                            <tr>
                                <td class="row-lebel">Country</td>
                                <td class="row-value">{{userdetails.country}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Modal for profile pic upload -->
            <div id="profilepicmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header modal-header-success">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Change Profile Picture</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="newPicUrl">New Profile Image Link:</label>
                                    <input type="text" class="form-control" id="newPicUrl" ng-model="newPicUrl">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" ng-click="updateProPic(newPicUrl)" data-dismiss="modal">Submit</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-danger panel-history">
            <div class="panel-heading text-center medicalHistory">Medical History</div>
            <div class="panel-body" layout-gt-md="row" layout="column" layout-wrap layout-align="center center" style="background-color: rgba(158, 158, 158, 0.3);">
                <div layout="column" ng-repeat="UserHistory in UserHistories" flex-gt-md="30" flex style="min-height: 450px; max-height: 450px;" layout-padding>
                    <md-card md-theme="{{ true ? 'dark-blue' : 'default' }}" md-theme-watch flex layout-fill>
                        <md-card-header style="background-color: #4285F4;">
                            <md-card-header-text>
                                <span class="md-title">{{(UserHistory.reportof.length>50)?UserHistory.reportof.substring(0, 50)+' .....':UserHistory.reportof}}</span>
                                <span class="md-subhead">{{(UserHistory.uploadedOn.length>50)?UserHistory.uploadedOn.substring(0, 50)+' .....':UserHistory.uploadedOn}}</span>
                            </md-card-header-text>
                        </md-card-header>
                        <md-card-title>
                            <md-card-title-text>
                                <!-- <span class="md-headline">{{UserHistory.reportof}}</span> -->
                                <span class="md-subhead" style="color:orange;text-align: center;">{{(UserHistory.conclusion.length>50)?UserHistory.conclusion.substring(0, 50)+' .....':UserHistory.conclusion}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                            <table class="table table-hover panel-report">
                                <tbody>
                                    <tr>
                                        <td>Symptoms</td>
                                        <td>{{(UserHistory.symptoms.length>25)?UserHistory.symptoms.substring(0, 25)+' .....':UserHistory.symptoms}}</td>
                                    </tr>
                                    <tr>
                                        <td style="color:orange;">Conclusion</td>
                                        <td>{{(UserHistory.conclusion.length>40)?UserHistory.conclusion.substring(0, 40)+' .....':UserHistory.conclusion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Uploaded By</td>
                                        <td>{{(UserHistory.uploadedBy.length>25)?UserHistory.uploadedBy.substring(0, 40)+' .....':UserHistory.uploadedBy}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-warn" data-toggle="modal" data-target="#historyModal" ng-click="reportDetailsPopulator(UserHistory)">Read-More</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <!-- Modal for History Details -->
                <div id="historyModal" class="modal fade" role="dialog ">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header modal-header-info">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Report</h4>
                            </div>
                            <div class="modal-body">
                                <table class="table table-hover">
                                    <tbody>
                                        <tr>
                                            <td>Report Of</td>
                                            <td>{{reportDetails.reportof}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td>{{reportDetails.uploadedOn}}</td>
                                        </tr>
                                        <tr>
                                            <td>Symptoms</td>
                                            <td>{{reportDetails.symptoms}}</td>
                                        </tr>
                                        <tr>
                                            <td style="color:red;">Conclusion</td>
                                            <td>{{reportDetails.conclusion}}</td>
                                        </tr>
                                        <tr>
                                            <td>Uploaded By</td>
                                            <td>{{reportDetails.uploadedBy}}</td>
                                        </tr>
                                        <tr>
                                            <td>Uploader Address</td>
                                            <td>{{reportDetails.uploaderAddress}}</td>
                                        </tr>
                                        <tr>
                                            <td>Uploaded Contact</td>
                                            <td>{{reportDetails.uploaderContact}}</td>
                                        </tr>
                                        <tr>
                                            <td>Breif description</td>
                                            <td>{{reportDetails.briefDesc}}</td>
                                        </tr>
                                        <tr>
                                            <td>Prescribed Doctor</td>
                                            <td>{{reportDetails.prescribedDoctor}}</td>
                                        </tr>
                                        <tr>
                                            <td>Doctor Address</td>
                                            <td>{{reportDetails.prescribedDoctorAddress}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
