<!DOCTYPE html>
<html lang="en" ng-app="TimeWaste">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Time Waste</title>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="/appLayout/CSS/main.css"/>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navCtrl">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#">
					TimeWaste
				</a>
			</div>
			<div class="container">
				<div class = "visible-md visible-lg">
					<form class="navbar-form navbar-right">
						<div class="form-group">
							<input type="email" class="form-control" ng-model="user.email" placeholder="Enter email/username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" ng-model="user.password" placeholder="Enter password">
						</div>
						<button type="submit" class="btn btn-primary" ng-click="$parent.logUserIn(user)">Login</button>
						<a ui-sref="signup" class="navbar-links">Signup</a>
					</form>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<div class="visible-xs visible-sm">
						<ul class="nav navbar-nav navbar-right">
							<li><a ui-sref="signup" class="navbar-links" data-toggle="collapse" data-target="#myNavbar">SignUp</a></li>
							<li><a ui-sref="signin" class="navbar-links" data-toggle="collapse" data-target="#myNavbar">SignIn</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</nav>	<!-- navbar ends -->

	<!-- container -->
	<div class="container">
		<div ui-view></div>
	</div><!-- container ends -->
</body>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/angular/angular.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/angular-socket-io/socket.js"></script>

<script src="/app.js"></script>
<script src="/appLayout/services/socketService.js"></script>
<script src="/appLayout/controllers/navCtrl.js"></script>
<script src="/signup/controller/SignupController.js"></script>
</html>