<!DOCTYPE html>
<html lang="en" ng-app="TimeWaste" ng-cloak>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DocPro</title>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/angular-material/angular-material.css">
    <link rel="stylesheet" href="/angular-datepicker/dist/angular-datepicker.css">
    <link rel="stylesheet" href="/appLayout/CSS/main.css" />
</head>

<body layout="column" flex ng-class="isAuthenticated()?'loggedInPageBackground':'loggedOutPageBackground'">
    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    DocPo
                </a>
            </div>
            <div class="container">
                <div ng-if="!isAuthenticated()">
                    <div class="visible-md visible-lg">
                        <form class="navbar-form navbar-right">
                            <div class="form-group">
                                <input type="email" class="form-control" ng-model="user.email" placeholder="Enter email/username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" ng-model="user.password" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-primary" ng-click="$parent.logUserIn(user)">Login</button>
                            <a ui-sref="signup" class="navbar-links">Signup</a>
                        </form>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div class="visible-xs visible-sm">
                            <ul class="nav navbar-nav navbar-right text-center">
                                <li><a ui-sref="signup" class="navbar-links" data-toggle="collapse" data-target="#myNavbar">SignUp</a></li>
                                <li><a ui-sref="signin" class="navbar-links" data-toggle="collapse" data-target="#myNavbar">SignIn</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div ng-if="isAuthenticated()">
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
                            <li>
                                <button class="navbar-btn btn-link navbar-links btn-block" data-toggle="collapse" data-target="#myNavbar" ng-click="logout()">Logout</button>
                            </li>
                            <li><a ui-sref="home" class="navbar-links text-center" data-toggle="collapse" data-target="#myNavbar">Home</a></li>
                            <li><a ui-sref="chat" class="navbar-links text-center" data-toggle="collapse" data-target="#myNavbar">Chat</a></li>
                            <li>
                                <button class="navbar-btn btn-link navbar-links btn-block" data-toggle="collapse" data-target="#myNavbar" ng-click="toggleLeft()">Online Friends</button>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right visible-md visible-lg">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{activeUser}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ng-click="logout()">Logout</a>
                                    </li>
                                    <li><a ui-sref="home">Home</a></li>
                                    <li><a ui-sref="chat">Chat</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- navbar ends -->
    <section layout="row" flex>
        <md-sidenav ng-if="isAuthenticated()" class="md-sidenav-left" md-component-id="left">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools" layout-align="center center">Online Friends</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-card ng-repeat="user in userList">
                    <md-card-content layout="row">
                        <div>
                            <img src="http://smartchicspray.com/wp-content/uploads/2016/01/Profile-Placeholder-Male.png" class="profile-image-chat" />
                        </div>
                        <div layout="row" layout-align="center center" flex>
                            <p>{{user}}</p>
                        </div>
                        <div>
                            <img src="/appLayout/images/online.png" class="chat-online">
                        </div>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-sidenav>
    </section>
    <!-- container -->
    <div layout="column" flex="grow">
        <div ui-view layout="column" flex></div>
    </div>
    <!-- container ends -->
    <div class="footer" layout="row">
        <div layout="row" flex-gt-md flex-xs="100" flex-sm="100" layout-align="center center">
            <div class="container" layout-gt-md="row" layout="column">
                <div flex layout="column" layout-align-gt-md="center start" layout-align="center center">
                    <div style="color:orange;">Copyright &copy; Abhishek Chatterjee</div>
                    <div style="color:lightBlue;">
                        <a ui-sref="home" class="footer-links">Home</a> |
                        <a ui-sref="chat" class="footer-links">Chat</a> |
                        <a ui-sref="home" class="footer-links">API</a> |
                        <a ui-sref="home" class="footer-links">Contact Us</a>
                    </div>
                    <div layout="row" hide-gt-md>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-facebook footer-links" aria-hidden="true"></i>
                        </div>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-twitter footer-links" aria-hidden="true"></i>
                        </div>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-google-plus footer-links" aria-hidden="true"></i>
                        </div>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-quora footer-links" aria-hidden="true"></i>
                        </div>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-bookmark footer-links" aria-hidden="true"></i>
                        </div>
                        <div style="padding-right: 10px;padding-left: 10px;">
                            <i class="fa fa-youtube footer-links" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div flex layout="column" layout-align-gt-md="center end" layout-align="center center" hide-xs hide-sm>
                    <div layout="row">
                        <div layout-padding>
                            <i class="fa fa-facebook footer-links" aria-hidden="true"></i>
                        </div>
                        <div layout-padding>
                            <i class="fa fa-twitter footer-links" aria-hidden="true"></i>
                        </div>
                        <div layout-padding>
                            <i class="fa fa-google-plus footer-links" aria-hidden="true"></i>
                        </div>
                        <div layout-padding>
                            <i class="fa fa-quora footer-links" aria-hidden="true"></i>
                        </div>
                        <div layout-padding>
                            <i class="fa fa-bookmark footer-links" aria-hidden="true"></i>
                        </div>
                        <div layout-padding>
                            <i class="fa fa-youtube footer-links" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/moment/min/moment.min.js"></script>
<script src="/moment-timezone/builds/moment-timezone-with-data-2010-2020.js"></script>
<script src="/angular/angular.js"></script>
<script src="/angular-animate/angular-animate.min.js"></script>
<script src="/angular-aria/angular-aria.min.js"></script>
<script src="/angular-messages/angular-messages.min.js"></script>
<script src="/angular-material/angular-material.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script src="/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/angular-socket-io/socket.js"></script>
<script src="/satellizer/dist/satellizer.js"></script>
<script src="/angular-flash-alert/dist/angular-flash.js"></script>
<script src="/angular-datepicker/dist/angular-datepicker.js"></script>
<!-- user js files -->
<script src="/app.js"></script>
<script src="/appLayout/config/config.js"></script>
<script src="/appLayout/config/themeConfig.js"></script>
<script src="/auth/authmodule.js"></script>
<script src="/appLayout/services/socketService.js"></script>
<script src="/appLayout/controllers/navCtrl.js"></script>
<script src="/chat/controller/chatCtrl.js"></script>
<script src="/appLayout/controllers/LeftCtrl.js"></script>
<script src="/signup/controller/SignupController.js"></script>
<script src="/home/controller/homeCtrl.js"></script>
<script src="/home/services/homeService.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>

<script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</html>
