<div layout="column" ng-repeat="prescription in $ctrl.prescriptions" flex-gt-md="30" flex style="min-height: 450px; max-height: 450px;" layout-padding>
    <md-card md-theme="{{ true ? 'dark-blue' : 'default' }}" md-theme-watch flex layout-fill>
        <md-card-header style="background-color: #4285F4;">
            <md-card-header-text>
                <span class="md-title">{{(prescription.prescribedDoctor.length>50)?prescription.prescribedDoctor.substring(0, 50)+' .....':prescription.prescribedDoctor}}</span>
                <span class="md-subhead">{{(prescription.CreatedOn.length>50)?prescription.CreatedOn.substring(0, 50)+' .....':prescription.CreatedOn}}</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-title>
            <md-card-title-text>
                <!-- <span class="md-headline">{{prescription.reportof}}</span> -->
                <span class="md-subhead" style="color:orange;text-align: center;">{{(prescription.longDesc.length>50)?prescription.longDesc.substring(0, 50)+' .....':prescription.longDesc}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <table class="table table-hover panel-report">
                <tbody>
                    <tr>
                        <td style="color:orange;">Report ID</td>
                        <td>{{(prescription.reportid.length>40)?prescription.reportid.substring(0, 40)+' .....':prescription.reportid}}</td>
                    </tr>
                    <tr>
                        <td>Symptoms</td>
                        <td>{{(prescription.symptoms.length>25)?prescription.symptoms.substring(0, 25)+' .....':prescription.symptoms}}</td>
                    </tr>
                    <tr>
                        <td>Uploaded By</td>
                        <td>{{(prescription.briefDesc.length>25)?prescription.briefDesc.substring(0, 40)+' .....':prescription.briefDesc}}</td>
                    </tr>
                </tbody>
            </table>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <!-- <md-button class="md-raised md-warn" data-toggle="modal" data-target="#historyModal" ng-click="reportDetailsPopulator(prescription)">Read-More</md-button> -->
            <md-button class="md-raised md-warn" ng-click="$ctrl.selected = prescription;$ctrl.showflag=true">View Prescription Details</md-button>
        </md-card-actions>
    </md-card>
</div>
